.App {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background-color: whitesmoke;
  font-family: Lato, sans-serif;
  display: grid;
  justify-content: center;
  align-items: start;
  justify-items: center;
  transition: background-color 1s ease;
}

.App.darkMode{
  background-color: #430e69;
}

.App .contenedor-barra{
  background-color: #b46de7;
  border: 0.125rem solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100vw;
  margin-bottom: 5px;
  position: absolute;
  top:0;
  left: 0;
}

.navbar-brand{
  pointer-events: none;
  cursor: default;
}

.logo{
  height: 40px;
  width: 40px;
}

.btn-outline-custom{
  font-size: 0.9rem;
  border-color: black;
}

.btn-outline-custom:hover{
  border-color: whitesmoke;
  background-color: #5d1292 ;
  color:whitesmoke;
}

.contenedor-calculadora{
  width: 370px;
  height: 530px;
  padding:14px;
  background-color: grey;
  border: 0.125rem solid rgba(0, 0, 0, 0.075);
  border-radius: 7px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 40px;
  color: white;
  background-color: #310053;
  position: fixed;
  bottom: 0;
  left: 0
}

.footer .texto-footer{
  padding-left: 5px;
  color: white;
  text-decoration: none;
}